<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, url: user_registration_path, local: true) do |f| %>
      <%= render "devise/shared/error_messages", resource: f.object %>

      <h3>(公開情報)</h3>
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-controll", value: @user.name %><br>

      <%= f.label :user_name %><br>
      <%= f.text_field :user_name, class: "form-controll", value: @user.user_name %><br>

      <%= f.label :website %><br>
      <%= f.text_field :website, class: "form-controll", value: @user.website %><br>

      <%= f.label :self_introduction %><br>
      <%= f.text_area :self_introduction, class: "form-controll", value: @user.self_introduction %><br>

      <h3>(非公開情報)</h3>
      <%= f.label :email %><br>
      <%= f.email_field :email, class: "form-controll", value: @user.email %><br>

      <%= f.label :phone_number %><br>
      <%= f.telephone_field :phone_number, class: "form-controll", value: @user.phone_number %><br>

      <%= f.label :gender %><br>
      <%= f.text_field :gender, class: "form-controll", value: @user.gender %><br>

      <%= f.submit "Create my acount", class: "btn btn-primary mt-3" %><br>
    <% end %>
  </div>
</div>


<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
