<li id="comment-<%= comment.id %>">
  <% user = comment.user %>
  <%= image_tag user.image %>
  <%= user.user_name %><br>
  <%= comment.content %><br>
  <%#= link_to "編集", "#" %>
  <%= link_to "削除", "#" %>
</li>
