<% if like = current_user.like?(micropost) %>
  <%= form_with(model: like, method: :delete, remote: true) do |f| %>
    <%= button_tag(class: "btn btn-default btn-xs") do %>
      <%= content_tag :span, "", class: "glyphicon glyphicon-heart" %>
    <% end %>
  <% end %>
<% else %>
  <%= form_with(model: micropost.likes.build, remote: true) do |f| %>
    <div><%= hidden_field_tag :micropost_id, micropost.id %></div>
    <%= button_tag(class: "btn btn-default btn-xs") do %>
      <%= content_tag :span, "", class: "glyphicon glyphicon-heart-empty" %>
    <% end %>
  <% end %>
<% end %>
