<h2>Change your password</h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, url: passwords_update_url, method: :patch, local: true) do |f| %>
      <%= render "devise/shared/error_messages", resource: f.object %>

      <%= f.label :current_password %><br>
      <%= f.password_field :current_password, class: "form-controll" %><br>

      <%= f.label :password, "New password" %><br>
      <%= f.password_field :password, class: "form-controll" %><br>

      <%= f.label :password_confirmation, "Confirmation" %><br>
      <%= f.password_field :password_confirmation, class: "form-controll" %><br>

      <%= f.submit "パスワードを更新する", class: "btn btn-primary mt-3" %><br>
    <% end %>
  </div>
</div>
