<% provide(title: "Search") %>
<p>検索</p>
<%= form_tag(search_path, :method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<!-- リファクタリングできるかもしれない -->
<% if @microposts.any? %>
  <% @which_micropost = "image_plus_post" %>
  <ul class="microposts row">
    <%= render @microposts %>
  <ul>
  <%= will_paginate @microposts %>
<% else %>
  <span>検索結果は何もありません</span>
<% end %>
