<h1>Microposts#show</h1>
<div class="input-form">
  <%= form_with(model: @new_comment, local: true) do |f| %>
    <%= render "devise/shared/error_messages", resource: f.object %>

    <%= f.text_field :comment, class: "form-controll",
                         placeholder: "コメントを入力してください" %><br>

    <%= f.submit "送信", class: "btn btn-primary mt-3" %><br>
  <% end %>
</div>

<%= render "shared/image_plus_post", micropost: @micropost %>
<!-- コメント欄 -->
<div class="comments">
  <ul>
    <%= render @comments %>
  </ul>
</div>
