<header id="header">
  <div class="container">
    <div class="header-flex">
      <div class="header-logo">
        <h3><%= link_to "ColorSend", root_path %></h3>
      </div>
      <div class="header-list">
        <ul class="row">
          <% if user_signed_in? %>
            <li class="col-xs-3"><%= link_to "検索", "#" %></li>
            <li class="col-xs-3"><%= link_to "通知", "#" %></li>
            <li class="col-xs-3"><%= link_to "マイ", current_user %></li>
            <li class="col-xs-3"><%= link_to "ロア", destroy_user_session_path, {method: :delete} %></li>
          <% else %>
            <li><%= link_to "サインイン", user_facebook_omniauth_authorize_path %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
